{% extends "base.twig" %}

{% block content %}

    <div class="container">

        <!-- OPTIONAL BANNER !-->
        {% if post.thumbnail.src or is_archive %}
            <div class="row">
                <div class="col-md-12">
                    <div id="jal-div-element-optional-banner">
                        {% block page_featured_image %}<img alt="{{ post.thumbnail.alt }}" src="{{ post.thumbnail.src }}" />{% endblock %}
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- BREADCRUBS !-->
        {% if function('function_exists', 'bcn_display') %}
            <div class="row">
                <div class="col-md-12">
                    <div id="jal-div-element-breadcrumbs" {% block small_crumbs %}class="force-780"{% endblock %}>
                        <div id="jal-ul-element-breadcrubs">
                            {{ function('bcn_display') }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- CONTENT, OPENING !-->
        <div class="row">
            <div class="col-xs-12">
                <div class="jal-any-element-body">
                    <div {% block small_title %}class="force-780"{% endblock %}>
                        <h1>{% block page_title %}{{ post.title }}{% endblock %}</h1>
                        {% block page_summary %}
                            {% if post.get_field('page_summary')|length > 0 %}
                                <span id="jal-any-element-summary">{{ post.get_field('page_summary') }}</span>
                            {% else %}
                                {#<br />#}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        {% block page_tabs %}{% endblock %}

        <!-- CONTENT, BODY !-->
        <div class="row" id="jal-row-element-primary-body">
            {% block page_body %}
            <div id="jal-any-element-primary" class="even-cols col-xs-12 jal-any-element-body content">
                <div class="force-780">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ post.content }}
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            {% endblock %}
        </div>

    </div>

{% endblock %}