{% extends "base-single.twig" %}

{% block single_body %}
	<div id="jal-any-element-primary" class="even-cols col-lg-9 col-md-8 col-xs-12 jal-any-element-body content">

		<!-- BODY !-->
		{{ post.content }}

		<!-- OTHER ARTICLES !-->
		{% if related|length > 0 %}
		<div class="row jal-silo-row">
			<div class="jal-silo-col col-xs-12">
				<strong><i class="fa fa-file"></i>&nbsp;&nbsp;Related Articles</strong>
				<div class="jal-silo-summary-content">
					<ul>
						{% for related_post in related %}
							<li><a href="{{ related_post.link }}">{{ related_post.title }}</a></li>
						{% endfor %}
						<li><a style="margin-top:10px;" class="" href="{{ main_category_link }}">See All Related Articles</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br /><br />
		{% endif %}

		{% include 'partial/comment.twig' %}

	</div>
	<div class="even-cols col-lg-2 col-md-4 visible-lg visible-md">
		<!-- STICKY BAR !-->
		<div id="jal-any-sticky-bar">
			{% include 'partial/social.twig' %}
			<div id="jal-any-sticky-bar-get-help-with">
				{% if has_custom_sidebar %}
					{{ secondary_sidebar }}
				{% else %}
					{{ primary_sidebar }}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
